*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    padding-top: 10px;
    /* background-color: #95bb7873; */
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
}
.header{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    color: red;
}
.header .text-header{
    padding: 10px 10px;
    border-left: 5px solid red ;
    padding-top: 10px;
    line-height: 14px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
}
.list-price{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item-price{
    margin: 10px 0;
    width: 470px;
    min-height: 400px;
     box-shadow:  4px 2px 10px rgba(127, 122, 122, 0.473);
    background-color: #ffffff;
}
.item-price .img-price{
    width: 100%;
    height: 200px;
}
.item-price-content{
   margin-left: 4px;
}
.heading-content{
     font-size: 15px;
     text-transform: uppercase;
     padding-top: 10px;
     padding-bottom: 15px;
}
.text-content{
  margin-bottom: 18px;
}
.list-infor{

}
.list-infor li{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.list-infor li p{
    font-size: 15px;
    margin-left: 10px;

}

